@import "tailwindcss";

.noscroll {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
  }
  
.noscript::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
  